!!!
%head
  %title Snippet
  %meta{ name:"viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
  %link{ href:"/css/application.css", rel:"stylesheet" }
  %script{ src:"/js/modernizr.custom.46377.js" }
  %script{ src:"/js/application.js" }

%body

  #container
    =yield

